body 
{
	font-family: Droid Sans;
	background-color: #111;
}

.jumbotron
{
	background-color: #222;
	color: #FFE081;
}

.jumbotron h1 
{
	font-family: Droid Sans;
	font-weight: 700;
	font-size: 100px;
	letter-spacing: -10px;
}

.jumbotron h1 a
{
	color: #F78701;
}

.jumbotron h1 a:hover
{
	text-decoration:none;
	color: #FEC12B;
}


#wordcloud
{
	width: 800px;
	height: 700px;
	overflow:none;
	margin: 0px auto;
}

#wordcloud div 
{
	margin: 10px;
	float:left;
}

#wordcloud div a
{

	white-space:nowrap;
}

.featurette-divider
{
border-color:#222;
}


a
{
	color: #F78701;
}

a:hover
{
	color: #FEC12B;
}